{% extends 'twig/pages_template.html.twig' %}

{% block title %}MTeixeira - Tarefa {{entry.id}}{% endblock %}


	   
	    {% block page_content %}

          <!-- Page Heading -->
          {#
          <form  method="POST" id="createForm" action="{{ path('tarefas') }}">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar uma tarefa: {{entry.Codigo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="task-code" class="col-form-label">Codigo:</label>
            <input type="text" class="form-control" id="task-code" name="codigo" value="{{entry.Codigo}}">
          </div>
          <div class="form-group">
            <label for="task-title" class="col-form-label">Titulo da tarefa:</label>
            <input type="text" class="form-control" id="task-title" name="titulo" value="{{entry.titulo}}">
          </div>
          <div class="form-group">
            <label for="task-description" class="col-form-label">Descrição:</label>
            <textarea class="form-control" id="task-description" name="detalhes" >{{entry.detalhes}}</textarea>
          </div>
          <div class="form-group">
            <label for="task-status" class="col-form-label">Status:</label>
            <!--<input type="text"  class="form-control" id="message-text"></input>-->
            <select class="form-control" name="status" id="task-status">
            
                      {% for status_entry in status_entries %}
                          {% set selected = '' %}
                          {% if status_entry  == entry.status %}
                            {% set selected = 'selected' %}
                          {% endif %}
                            <option {{ selected }}>{{ status_entry }}</option>
                      {% endfor %}
            </select>
		      </div>
          
          <div class="form-group">
            <label for="task-cli" class="col-form-label">Cliente:</label>
            <input type="text" class="form-control" id="task-cli" name="titulo">
          </div>
      </div>
      <div class="modal-footer">
        <a href="{{ app.request.headers.get('referer') }}"><button type="button" class="btn btn-secondary"  >Fechar</button></a>
        <button type="submit" class="btn btn-primary" id="createSubmit">Salvar</button>
      </div>
      </form>
#}

          <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between ">
            <h1 class="h3 text-gray-800">Criar uma Tarefa</h1>
           <a href="{{ path('tarefas')}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" {#data-toggle="modal" data-target="#novaTarefa"#}>
              <i class="fas fa-download fa-sm text-white-50"></i> Voltar
              </a>
          </div>

    {{ form_start(form) }}
    
      <div class="my-custom-class-for-errors">
          {#{ form_errors(form) }#}
      </div>

      <div class="modal-body">
      {#
         {{ form_row(form.codigo) }}
         {{ form_row(form.titulo) }}
         {{ form_row(form.dueDate) }}
         {{ form_row(form.detalhes) }}
         {{ form_row(form.status) }}
         #}
         {{ form_widget(form) }}
      </div>
         {#{ form_row(form.submit) }#}
    {{ form_end(form) }}
          {% endblock %}



 {% block modals %}
 
 {{ parent() }}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="novaTarefa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <form  method="POST" id="createForm" action="{{ path('create_tarefa') }}">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar uma Tarefa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="task-title" class="col-form-label">Titulo da tarefa:</label>
            <input type="text" class="form-control" id="task-title" name="titulo">
          </div>
          <div class="form-group">
            <label for="task-description" class="col-form-label">Descrição:</label>
            <textarea class="form-control" id="task-description" name="detalhes"></textarea>
          </div>
          <div class="form-group">
            <label for="task-status" class="col-form-label">Status:</label>
            <!--<input type="text"  class="form-control" id="message-text">{#{ entry.status }#}</input>-->
            <select class="form-control" name="status" id="task-status">
            
                      {% for status_entry in status_entries %}
                          {% set selected = '' %}
                          {#{% if status_entry.status  == entry.status %}
                          {% set selected = 'selected' %}
                          {% endif %}#}
                                  <option {{ selected }}>{{ status_entry }}</option>
                      {% endfor %}
            </select>
		      </div>
          
          <div class="form-group">
            <label for="task-cli" class="col-form-label">Cliente:</label>
            <input type="text" class="form-control" id="task-cli" name="titulo">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary" id="createSubmit">Salvar</button>
      </div>
      </form>
      
    </div>
  </div>
</div>
      {% endblock %}

{% block javascripts %}
 {{ parent() }}

 <script>
$('#createSubmit1').click(function(e){
      e.preventDefault();
      alert($('#task-title').val());
      ser = $('#createForm').serialize();
      alert(ser);
      $.post("{{ path('create_tarefa') }}", 
         $('#createForm').serialize(), 
         function(data, status, xhr){
           // do something here with response;
           alert(data);
           alert(status);
           alert(xhr);
         });
      /**/
});
</script>

 {% endblock %}